 <div class="link-fileds form-inline">
  <div class="input-prepend">
    <span class="add-on">What's this?</span><%= f.text_field :title %>
  </div>
  <div class="input-prepend">
    <span class="add-on">URL</span><%= f.text_field :url %>
  </div>
</div>