 <div class="fields">
  <div class="field">
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="field">
    <div>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
  </div>
</div>