<%- model_class = Node -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div class="nodes">
  <% @nodes.each do |node| %>
    <div class="node span4">
      <h3><%= link_to node.name, node_path(node) %></h3>
      <div class="node-summary">
        <%= node.summary %>
      </div>
    </div>
  <%- end %>
</div>